body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

li {
  display: inline-block;
  padding: 5px;
}

.card {
  margin: 20px;
  padding: 10px 20px;
}

.participation-wind {
  position: relative;
  left: 270px;
  bottom: 48px;
  width: 150px;
}

.current-weather {
  font-size: 40px;
  position: relative;
  bottom: 35px;
  width: 170px;
}

.celcius,
.fahrenheit {
  font-size: 17px;
  vertical-align: text-top;
  cursor: pointer;
}

.code-link-name {
  text-align: left;
}
